*.o
xfig-3.2.6a/Makefile
xfig-3.2.6a/autom4te.cache/
xfig-3.2.6a/config.h
xfig-3.2.6a/config.h.in~
xfig-3.2.6a/config.log
xfig-3.2.6a/config.status
xfig-3.2.6a/doc/Makefile
xfig-3.2.6a/doc/xfig.man
xfig-3.2.6a/doc/xfig_man.html
xfig-3.2.6a/lib/.deps/
xfig-3.2.6a/src/.deps/
xfig-3.2.6a/src/Makefile
xfig-3.2.6a/src/version.fig
xfig-3.2.6a/src/xfig
xfig-3.2.6a/stamp-h1
xfig-3.2.6a/tests/Makefile
xfig-3.2.6a/tests/atconfig
xfig-3.2.6a/tests/atlocal
fig2dev-3.2.6a/Makefile
fig2dev-3.2.6a/autom4te.cache/
fig2dev-3.2.6a/config.h
fig2dev-3.2.6a/config.h.in~
fig2dev-3.2.6a/config.log
fig2dev-3.2.6a/config.status
fig2dev-3.2.6a/fig2dev/.deps/
fig2dev-3.2.6a/fig2dev/Makefile
fig2dev-3.2.6a/fig2dev/bitmaps/Makefile
fig2dev-3.2.6a/fig2dev/dev/.deps/
fig2dev-3.2.6a/fig2dev/dev/libdrivers.a
fig2dev-3.2.6a/fig2dev/fig2dev
fig2dev-3.2.6a/fig2dev/i18n/Makefile
fig2dev-3.2.6a/fig2dev/lib/.deps/
fig2dev-3.2.6a/fig2dev/tests/Makefile
fig2dev-3.2.6a/fig2dev/tests/atconfig
fig2dev-3.2.6a/fig2dev/tests/atlocal
fig2dev-3.2.6a/man/Makefile
fig2dev-3.2.6a/stamp-h1
fig2dev-3.2.6a/transfig/.deps/
fig2dev-3.2.6a/transfig/Makefile
