*.o
*.Po
xfig-3.2.6a/Makefile
xfig-3.2.6a/autom4te.cache/
xfig-3.2.6a/config.h
xfig-3.2.6a/config.h.in~
xfig-3.2.6a/config.log
xfig-3.2.6a/config.status
xfig-3.2.6a/doc/Makefile
xfig-3.2.6a/doc/xfig.man
xfig-3.2.6a/doc/xfig_man.html
xfig-3.2.6a/lib/.deps/
xfig-3.2.6a/src/.deps/
xfig-3.2.6a/src/Makefile
xfig-3.2.6a/src/version.fig
xfig-3.2.6a/src/xfig
xfig-3.2.6a/stamp-h1
xfig-3.2.6a/tests/Makefile
xfig-3.2.6a/tests/atconfig
xfig-3.2.6a/tests/atlocal
fig2dev-3.2.6a/Makefile
fig2dev-3.2.6a/Makefile.in
fig2dev-3.2.6a/aclocal.m4
fig2dev-3.2.6a/ar-lib
fig2dev-3.2.6a/autom4te.cache/output.0
fig2dev-3.2.6a/autom4te.cache/output.1
fig2dev-3.2.6a/autom4te.cache/output.2
fig2dev-3.2.6a/autom4te.cache/requests
fig2dev-3.2.6a/autom4te.cache/traces.0
fig2dev-3.2.6a/autom4te.cache/traces.1
fig2dev-3.2.6a/autom4te.cache/traces.2
fig2dev-3.2.6a/compile
fig2dev-3.2.6a/config.h
fig2dev-3.2.6a/config.h.in~
fig2dev-3.2.6a/config.log
fig2dev-3.2.6a/config.status
fig2dev-3.2.6a/configure
fig2dev-3.2.6a/depcomp
fig2dev-3.2.6a/fig2dev/#
fig2dev-3.2.6a/fig2dev/Makefile
fig2dev-3.2.6a/fig2dev/am--include-marker
fig2dev-3.2.6a/fig2dev/bitmaps/Makefile
fig2dev-3.2.6a/fig2dev/bitmaps/Makefile.in
fig2dev-3.2.6a/fig2dev/dev/#
fig2dev-3.2.6a/fig2dev/dev/am--include-marker
fig2dev-3.2.6a/fig2dev/dev/libdrivers.a
fig2dev-3.2.6a/fig2dev/i18n/Makefile
fig2dev-3.2.6a/fig2dev/i18n/Makefile.in
fig2dev-3.2.6a/fig2dev/tests/Makefile
fig2dev-3.2.6a/fig2dev/tests/Makefile.in
fig2dev-3.2.6a/fig2dev/tests/atconfig
fig2dev-3.2.6a/fig2dev/tests/atlocal
fig2dev-3.2.6a/install-sh
fig2dev-3.2.6a/man/Makefile
fig2dev-3.2.6a/man/Makefile.in
fig2dev-3.2.6a/missing
fig2dev-3.2.6a/stamp-h1
fig2dev-3.2.6a/transfig/#
fig2dev-3.2.6a/transfig/Makefile
fig2dev-3.2.6a/transfig/Makefile.in
fig2dev-3.2.6a/transfig/am--include-marker
fig2dev-3.2.6a/transfig/transfig
xfig-3.2.6a/Makefile.in
xfig-3.2.6a/aclocal.m4
xfig-3.2.6a/compile
xfig-3.2.6a/configure
xfig-3.2.6a/depcomp
xfig-3.2.6a/doc/Makefile.in
xfig-3.2.6a/install-sh
xfig-3.2.6a/missing
xfig-3.2.6a/src/Makefile.in
xfig-3.2.6a/src/test
xfig-3.2.6a/src/test.fig
xfig-3.2.6a/tests/Makefile.in
xfig-3.2.6a/src/SAVE.fig
changeLog.txt
fig2dev-3.2.6a/fig2dev/fig2dev